body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}

header,
section,
main,
footer {
  padding: 8px;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 1px solid springgreen; */
  height: inherit;
  min-height: inherit;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 16px;
  flex-wrap: wrap;
}

/* header --------- */
header {
  /* height: 152px; */
  background-color: #ff3b3c;
  /* Ejemplo de color */
}

header .logo img {
  width: 100px;
}

.search {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search .form form {
  width: 100%;
  max-width: 500px;
}

.search .form input {
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.social ul li:last-child img {
  margin-top: 2px;
}

.social #cart-icon {
  width: 30px;
  margin-left: -2px;
}

.social #fb-icon {
  width: 24px;
}

.social #insta-icon {
  margin-bottom: -2px;
}

.search img {
  display: block;
}

.nav {
  margin-top: 16px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}

/* hero ------- */

section {
  height: 340px;
}

#hero {
  height: 340px;
  background: url('./assets/hero_bg.png');
  background-size: cover;
  background-position: top center;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container span {
  display: block;
  color: white;
  font-weight: bold;
}

.title-container span:first-child {
  font-size: 24px;
}

.title-container span:last-child {
  font-size: 60px;
  line-height: 50px;
}

/* Products --------------- */

main {
  padding-top: 16px;
  height: auto;
}

main .columns-container {
  flex-direction: column;
}

.product-images-block,
.product-description-block,
.checkout-container {
  flex: 1;
}

/* ---- Images ------ */

.product-images-block {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: fit-content;
}

.product-images-block .thumbnail-container {
  grid-column: 1;
}

.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}

.product-images-block .main-image {
  width: 100%;
  grid-row: 1/5;
  grid-column: 2/5;
  margin-left: 4px;
  max-height: 350px;
  object-fit: contain;
}

/* ---- Description ------ */

.product-description-block .title {
  font-size: 28px;
  margin-top: 0;
}

form.selector fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

form.selector label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

form.selector select {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  width: 100%;
}

.product-description-block .description p:first-child {
  margin-bottom: 0;
  font-size: 14px;
}

.product-description-block .description p:last-child {
  margin-top: 0;
}

/* ---- Checkout -------- */

.checkout-container {
  background-color: #ebebeb;
  padding: 24px;
  border-radius: 2px;
  min-width: 100%;
  box-sizing: border-box;
}

.checkout-total-label {
  color: #ff3b3c;
}

.checkout-total-price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.checkout-description {
  word-wrap: break-word;
}

.checkout-policy-list {
  list-style-type: none;
  margin-bottom: 28px;
  padding-left: 24px;
}

.checkout-policy-list li {
  display: flex;
  margin: 12px 0;
}

.checkout-policy-list li .policy-icon {
  margin-right: 8px;
}

.checkout-process .top {
  display: flex;
  margin-bottom: 8px;
}

.checkout-process .top input {
  border-radius: 8px;
  width: 40px;
  border: none;
  margin-right: 8px;
  padding: 12px 16px;
}

.btn-primary {
  flex-grow: 1;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 16px;
}

/* .btn-outline {
  width: 100%;
  border: 2px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
} */

/* Ofertas --------- */
.sales-block {
  margin-bottom: 32px;
}

.sales-block h2 {
  font-size: 24px;
  width: 100%;
}

.sales-block .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #F0F0F0;
  border-radius: 14px;
  overflow: hidden;
  width: auto;
  color: black;
  text-decoration: none;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.product-info {
  padding: 20px;
  box-sizing: border-box;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 2rem;
}

.product-description {
  font-size: 14px;
  margin-bottom: 6px;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

.product-tax-policy {
  font-size: 12px;
}


/* Footer -------- */

footer {
  /* border: 1px solid #009145; */
  /* min-height: 368px; */
  background-color: #7525a7;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .columns-container {
  flex: 1;
  gap: 24px;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 4px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 16px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

/* Media queries ----------- */

@media (min-width: 500px) {

  /* .search .form input {
    width: 300px;
  } */

  header,
  section,
  main,
  footer {
    padding: 16px;
  }

  header .logo img {
    width: 150px;
  }

  .product-images-block,
  .product-description-block {
    min-width: auto;
  }

  main .columns-container {
    flex-direction: row;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

@media (min-width: 768px) {

  /* .search .form input {
    width: 500px;
  } */
  .checkout-container {
    min-width: auto;
  }
}