.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 1px solid springgreen; */
  height: inherit;
  min-height: inherit;
}

/* hero ------- */

#hero {
  height: 340px;
  background: url('../hero_bg.png');
  background-size: cover;
  background-position: top center;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.titleContainer span {
  display: block;
  color: white;
  font-weight: bold;
}

.titleContainer span:first-child {
  font-size: 24px;
}

.titleContainer span:last-child {
  font-size: 60px;
  line-height: 50px;
}

/* Media queries ----------- */

@media (min-width: 500px) {

  main,
  footer {
    padding: 16px;
  }

  .titleContainer span:first-child {
    font-size: 40px;
  }

  .titleContainer span:last-child {
    font-size: 100px;
    line-height: 80px;
  }
}